*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body{
   background-color: #0a0a20;
   display: flex;
   justify-content: space-evenly;
   padding: 20px;
   height: 100vh;
   overflow: hidden;
   align-items: center;
   flex-direction: column;
}
.loader{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
}
.bar{
   width: 82vw;
   max-width: 480px;
   height: 44px;
   padding: 8px;
   border: 4px solid #1f8c;
   display: flex;
   border-radius: 25px;
}
.bar-progress{
   background-color: #1f8d;
   width: 0%;
   border-radius: 12px;
   animation: fill 6s 1.5s both;
}
p{
   font-size: 1.3rem;
   color: #1f8d;
   font-family: Monospace;
   animation: disappear 1.8s 5.8s both;
}
button{
   position: relative;
   top: -60px;
   padding: 12px 24px;
   font-size: 1.3rem;
   letter-spacing: 2px;
   border-radius: 8px;
   color: #777;
   border: 3px solid #777;
   background-color: #000;
   opacity: 0;
   animation: parpadear 3.8s 1s infinite both, appear 2s 7.65s both;
}

@keyframes fill{
   from{
      width: 0%;
   }
   to{
      width: 100%;
   }
}

@keyframes parpadear{
   0%{
      color: #1f8a;
      text-shadow: 0 0 14px #1f8c;
      border: 3px solid #1f83;
      box-shadow: 0 0 10px #1f8a;
   }
   7%{
      color: #000;
      background-color: #1f87;
      box-shadow: 0 0 12px #1f8e;
   }
   15%{
      color: #000;
      box-shadow: 0 0 17px #1f89;
      border: 3px solid #1f88;
   }
   22%{
      box-shadow: 0 0 12px #1f8;
      text-shadow: 0 0 12px #1f8;
   }
   30%{
      text-shadow: 0 0 16px #1f8c;
      color: #1f87;
      border: 3px solid #1f86;
      background-color: #000;
   }
   36%{
      color: #1f8b;
      box-shadow: 0 0 12px #1f8;
      text-shadow: 0 0 19px #1f89;
      background-color: #1f84;
   }
   42%{
      color: #1f8;
      box-shadow: 0 0 13px #1f8d;
      border: 3px solid #1f88;
   }
   48%{
      background-color: #000;
      text-shadow: 0 0 14px #1f8;
      box-shadow: 0 0 19px #1f85;
   }
   53%{
      color: #000;
      background-color: #000;
      border: 3px solid #1f84;
      text-shadow: 0 0 19px #1f8;
   }
   59%{
      border: 3px solid #1f8;
      box-shadow: 0 0 19px #1f8b;
   }
   65%{
      color: #1f8;
      text-shadow: 0 0 16px #1f8c;
   }
   71%{
      color: #000;
      background-color: #1f89;
      text-shadow: 0 0 16px #000;
   }
   78%{
      box-shadow: 0 0 15px #1f86;
      border: 3px solid #1f8e;
   }
   85%{
      text-shadow: 0 0 12px #1f8;
      background-color: #1f82;
      color: #1f87;
   }
   92%{
      box-shadow: 0 0 17px #1f85;
      color: #000;
      background-color: #1f88;
   }
   100%{
      box-shadow: 0 0 12px #1f8e;
      color: #1f8;
   }
}
@keyframes appear{
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}
@keyframes disappear{
   from{
      opacity: 1;
   }
   to{
      opacity: 0;
   }
}
@media min-width: 720px{
   button{
      position: fixed;
   }
   body{
      gap: 60px;
   }
}